.FlowDesigner {
    margin-top: 80px;
    width: 100%;
}

#flowDesigner {
    width: 100%;
    height: calc(100vh - 80px - 80px);
    bottom: 0;
    left: 0;
    border: 1px solid lightgray;
    background: #1B2635;
}

.FlowDesigner .input-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 16px 0;
}

.FlowDesigner .top {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #F9F9F9;
}

.FlowDesigner .bot-name {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

.FlowDesigner button {
    padding: 0 8px;
    cursor: pointer;
    background-color: rgba(246, 174, 109, .8);
    border-color: #F2994A;
    border-radius: 8px;
    outline: none;
    height: 100%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

#delete {
    margin-right: 0;
}

#saveBtn {
    padding: 8px 24px;
    margin: 0 0 0 20px;
}

.FlowDesigner textarea {
    border-radius: 8px;
    border-color: #F2994A;
    resize: none;
    height: 100%;
    outline-color: #F2994A;
}

.FlowDesigner .vis-button {
    background-color: #F2994A;
}


[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position:absolute;
    top:40px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:45px;
    left:0;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    /*height:18px;*/
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*white-space:nowrap;*/
    /*word-wrap: break-word;*/
    /*word-wrap:normal;*/
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}

@media (max-width: 991px) {
    .FlowDesigner .top {
        padding-left: 15px;
        padding-right: 15px;
    }

    .FlowDesigner button {
        margin: 0 5px;
    }

    #saveBtn {
        margin-left: 10px;
    }
}